.data-container ol li{
    width: 200px;
    overflow: hidden;
    margin: 5px;
    height: auto;
    float: left;
}
.data-container ol li img{
    width: 200px;
    height: 200px;
}
.data-container ol li div{
    word-wrap: break-word;
}