/**
 * Css for elements in Header.html
 */

#header-div{
    height: 50px;
    background: #4D4848;
    color: #ffffff;
    position: fixed;
    font-size: 14px;
    width: 100%;
    z-index: 20;
}
#header-div >a{
    display: inline-block;
    float: right;
    padding:12px 15px 0 0;
    color: #ffffff;
}
#header-div ul li{
    float: right;
    padding: 5px;
    list-style: none;
}
#header-div ul li:hover{
    cursor: pointer;
}

/* Css for drop down div */
#drop-down-header{
    height: 40px;
    color: #000000;
    margin-top: 10px;
    font-size: 14px;
    right: 0px;
    left: 0px;
    z-index: 1000;
    list-style: none;
    padding-left: 0px;
    position: fixed;
}
#drop-down-header ul{
    float: right;
    margin-right: 400px;
}
#drop-down-header ul li{
    padding: 5px;
    list-style: none;
}
#drop-down-header .header-drop-element{
    float: right;
    height: 50%;
    margin-top: 7px;
    margin-right: 9px;
    padding: 6px 14px;
    text-align: center;
}
/**
 * Drop down elements css
 **/
#drop-down-header .nav-pills .dropdown:hover{
    background: rgba(255, 216, 197, 0.45);
}
#drop-down-header .nav-pills .dropdown:hover ul{
    display: block;/* display the dropdown */
}
#drop-down-header li {
    color: white;
    text-align: center;
}
.nav-pills >li >a, .nav-pills >li >a:hover, .nav-pills >li >a:focus {
    text-decoration: none !important;
    padding: 10px;
}
.nav-pills >li >a:hover, .nav-pills >li >a:focus{
    margin-bottom: 1px;
}
.dropdown-menu{
    padding-top: 0px !important;
    margin-top: 0px !important;
}
#drop-down-header .nav-pills .dropdown-menu{
    background: rgba(0, 0, 0, 0.45);
}
#drop-down-header .nav-pills .dropdown-menu li:hover a, #drop-down-header .nav-pills .dropdown-menu li:hover{
    background: rgba(0, 0, 0, 0.45);
}
#drop-down-header .nav-pills .dropdown-menu li a{
    color: #ffffff;
    background-color: transparent !important;
    background: none;
}

/*
 * Header Css for Home
 */
.home-header #drop-down-header{
    margin-top: 50px !important;
}
.home-header #drop-down-header .nav-pills{
    right: 400px;
}
.home-header #header-div{
    height: 25px;
}
.home-header #drop-down-header ul{
    margin-right: 210px;
}

.home-header #header-div >a{
    padding: 0px 15px 0 0 ;
}