<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    {% load staticfiles %}
    {% comment %}<script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/dropdownheader.js' %}"></script>{% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <title></title>
</head>
<body>
    <div id="navbar" class="navbar navbar-fixed-top ">
        <div id="header-div">
             <a href="#" id="sign-in" >login</a>
             <a href="#" id="signup" >sign up</a>
             <a href="#" id="track-donation" >Track Donation</a>
             {% comment %}<button type="button" id="donate-btn-header" class="btn btn-success">Donate</button>{% endcomment %}
        </div>
        <div id="drop-down-header">
        <ul class="nav-pills">
            <li role="presentation" id="home-pill" class="active">
                <a href="#">Home</a>
            </li>
            <li role="presentation" id="needs-pill" class="dropdown">
                <a href="#">Needs</a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#">Action</a>
                    </li>
                    <li>
                        <a href="#">Action</a>
                    </li><li>
                        <a href="#">Action</a>
                    </li>
                </ul>
            </li>
            <li role="presentation" id="ashrams-pill" class="dropdown">
                <a href="#">Ashrams</a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#">Action</a>
                    </li>
                    <li>
                        <a href="#">Action</a>
                    </li><li>
                        <a href="#">Action</a>
                    </li>
                </ul>
            </li>
            <li role="presentation" id="about-pill" class="dropdown">
                <a href="#">About</a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#">Action</a>
                    </li>
                    <li>
                        <a href="#">Action</a>
                    </li><li>
                        <a href="#">Action</a>
                    </li>
                </ul>
            </li>
            <li role="presentation" id="contact-us-pill" class="">
                <a href="#">Contact Us</a>
            </li>
        </ul>
        </div>
    </div>

</body>
</html>